<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #633C15;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="images/IMG_0077.jpg">
    <img src="images/IMG_0077.jpg" alt="Pink Hair Girl" width="400" height="400">
  </a>
  <div class="desc">Artwork</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/IMG_0132.jpg">
    <img src="images/IMG_0132.jpg" alt="Women in Black" width="400" height="400">
  </a>
  <div class="desc">Artwork</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/IMG_8481.jpg">
    <img src="images/IMG_8481.jpg" alt="Family Among Sunflowers" width="308.8" height="232">
  </a>
  <div class="desc">Photo</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/IMG_8593.jpg">
    <img src="images/IMG_8593.jpg" alt="Mushrooms" width="266.1" height="357.2">
  </a>
  <div class="desc">Artwork</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/IMG_8729.jpg">
    <img src="images/IMG_8729.jpg" alt="Selfie1" width="232" height="308.8">
  </a>
  <div class="desc">Selfie</div>
</div>

<div class="gallery">
  <a target="_blank" href="images/IMG_9001.jpg">
    <img src="images/IMG_9001.jpg" alt="Selfie2" width="118.8" height="220.8">
  </a>
  <div class="desc">Selfie</div>
</div>

</body>
</html> 